body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e1e1e; /* Dark background */
    color: #e0e0e0; /* Light gray text */
}

h1 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between dropdowns */
    margin-top: 20px;
}

label {
    color: #e0e0e0; /* Light gray text for labels */
    margin: 0 10px; /* Adjust space around labels */
}

select {
    background-color: #2a2a2a; /* Darker select background */
    color: #e0e0e0; /* Light gray text */
    border: 1px solid #ffffff; /* White border */
    padding: 5px;
}

#json-content {
    overflow-x: auto;
    margin: 20px auto;
    max-width: 95%;
}

#json-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;  /* Ensure columns have equal width */
    background-color: #2a2a2a; /* Dark table background */
}

#json-content table, #json-content th, #json-content td {
    border: 1px solid #444; /* Darker borders for contrast */
}

#json-content th, #json-content td {
    padding: 9px; /* Increase padding for more space */
    text-align: center;
    color: #e0e0e0; /* Light gray text */
    white-space: nowrap; /* Prevent word splitting */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

#json-content th {
    background-color: #1e1e1e; /* Slightly darker header background */
    font-weight: bold;
}

#json-content tr:nth-child(even) {
    background-color: #333; /* Dark gray for even rows */
}

#json-content tr:nth-child(odd) {
    background-color: #2a2a2a; /* Darker gray for odd rows */
}

.rank {
    display: block;
    font-size: 20px;
    color: #666666; /* Dark gray color for rank */
    text-align: center;
    margin-bottom: 4px;
}

.gold {
    background-color: #c69d53; /* Softer gold color */
    color: #000000; /* Black text for better contrast */
}

.silver {
    background-color: #777474; /* Softer silver color */
    color: #000000; /* Black text for better contrast */
}

.bronze {
    background-color: #76582b; /* Softer bronze color */
    color: #000000; /* Black text for better contrast */
}

.light-green {
    background-color: #689d69; /* Softer light green */
}

.light-red {
    background-color: #ad4036; /* Softer light red */
}

.heavy-red {
    background-color: #6e1717; /* Softer heavy red */
    color: #000000; /* Black text for better contrast */
}
footer {
    background-color: #1e1e1e; /* Darker blue for the footer background */
    padding: 20px;
    margin-top: 20px; /* Adjust margin as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 3D-style box shadow */
    text-align: center;
}

footer p {
    margin: 0;
}

/* Adjust the color of links in the footer if needed */
footer a {
    color: #87CEEB; /* Light blue color for links in the footer */
}